DATABASE_URL="postgresql://postgres:root@localhost:5432/nest_api?schema=public"

SECRET_KEY="LATERREUNEPLANETEDUSYSTEMESOLAIRE"
JWT_SECRET="LATERREUNEPLANETEDUSYSTEMESOLAIRE"

SALT_ROUNDS=10

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=abdallahdiouf.dev@gmail.com
MAIL_PASSWORD=xhzceywmojgucviz
MAIL_FROM="FitConnect"